body {
  background-color: #444;
  background-image: url(8433b66c3dee615fd8459f2781a56e1d.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

