body {
    background-color: deepskyblue;
    background-image: url(../imgs/legiao_WhpfBeRg9NKLGlsj6Mq1V8O7vo5zdkmSu_20TAriXa.jpg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}